
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #CCCCCC;
}

canvas {
    margin: auto;
}

.botao_cor {
    padding: 20px;

}

label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    /* width: 100%; */
    /* Full-width */
    /* height: 25px; */
    /* Specified height */
    background: #EEEEEE;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}
